<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264293766572-29o14e1gk2m9q2f2m1b5v1vmvgqfpra8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264293766572-29o14e1gk2m9q2f2m1b5v1vmvgqfpra8</string>
	<key>API_KEY</key>
	<string>AIzaSyCwj7_s43pb1rLIM5eaWQqqLGg8WfDy6cM</string>
	<key>GCM_SENDER_ID</key>
	<string>264293766572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.concealfriendly.app</string>
	<key>PROJECT_ID</key>
	<string>concealfriendfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>concealfriendfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:264293766572:ios:cf0af9b7abef7549831609</string>
	<key>DATABASE_URL</key>
	<string>https://concealfriendfirebase.firebaseio.com</string>
</dict>
</plist>
